@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 200px;
}

.footer  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #eee;
  height: 40px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}




.header   {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}


button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 12px;
  background: #eee;
  padding: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
